.main{

    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.article{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  
}
.title{
    font-size: 2em;
    font-weight: bold;
}
.price{

    font-weight: bold;
    font-size: 1.3em;
}
.regresar{
    cursor: pointer;
}