.nav{
    background-color: black;
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-around;

    
}
.title{
    color: white;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}
.menu > ol{
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
   /* transition: box-shadow 0.3s ease; /* Añadimos transición suave */


}
.menu > ol:hover{
   text-decoration: underline;
}
.btn{
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.salir{
    display: flex;
    gap:.1em;
    align-items: center;
}